@font-face {
    font-family: 'NeueHaasDisplayLight';
    font-style: normal;
    font-weight: 400;
    src: url(https://assets.nicepage.io/d0971f7b/2688523/fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: 'NeueHaasDisplayRoman';
    font-style: normal;
    font-weight: 400;
    src: url(https://assets.nicepage.io/d0971f7b/2688523/fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: 'NeueHaasDisplayBold';
    font-style: normal;
    font-weight: 400;
    src: url(https://assets.nicepage.io/d0971f7b/2688523/fonts/NeueHaasDisplayBold.ttf);
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 168px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 30px auto 30px 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 251px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-2 .u-social-icons-1 {
    height: 48px;
    min-height: 16px;
    width: 184px;
    min-width: 88px;
    margin: 0 auto;
}

.u-section-2 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-icon-3 {
    height: 48px;
}

.u-section-2 .u-layout-cell-2 {
    min-height: 108px;
}

.u-section-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-2 .u-text-1 {
    margin: 0 auto;
}

.u-section-2 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 130px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 207px;
    }

    .u-section-2 .u-social-icons-1 {
        width: 116px;
        min-width: 52px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 89px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 141px;
    }

    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 241px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-layout-cell-1 {
        min-height: 108px;
    }
}

.u-dialog-section-4 {
    min-height: 500px;
}

.u-dialog-section-4 .u-dialog-1 {
    width: 1140px;
    min-height: 783px;
    margin: 436px auto 60px;
}

.u-dialog-section-4 .u-container-layout-1 {
    padding: 30px;
}

.u-dialog-section-4 .u-layout-wrap-1 {
    margin-top: 180px;
    margin-bottom: 0;
    position: relative;
}

.u-dialog-section-4 .u-layout-cell-1 {
    min-height: 400px;
}

.u-dialog-section-4 .u-container-layout-2 {
    padding: 0;
}

.u-dialog-section-4 .u-group-1 {
    min-height: 400px;
}

.u-dialog-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-dialog-section-4 .u-text-1 {
    font-family: NeueHaasDisplayBold;
    background-image: none;
    margin: 31px auto 0;
}

.u-dialog-section-4 .u-text-2 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayRoman;
    margin: 34px 0 0;
}

.u-dialog-section-4 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 29px auto 0;
}

.u-dialog-section-4 .u-layout-cell-2 {
    min-height: 400px;
}

.u-dialog-section-4 .u-container-layout-4 {
    padding: 30px;
}

.u-dialog-section-4 .u-text-3 {
    font-family: NeueHaasDisplayBold;
    background-image: none;
    margin: 0 auto 0 41px;
}

.u-dialog-section-4 .u-text-4 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayRoman;
    margin: 41px 0 0;
}

.u-dialog-section-4 .u-icon-2 {
    width: 64px;
    height: 64px;
    margin: 41px auto 0 73px;
}

.u-dialog-section-4 .u-group-2 {
    min-height: 400px;
    margin-left: auto;
    margin-right: -73px;
}

.u-dialog-section-4 .u-container-layout-5 {
    padding: 29px 30px;
}

.u-dialog-section-4 .u-text-5 {
    font-family: NeueHaasDisplayBold;
    background-image: none;
    margin: 31px auto 0;
}

.u-dialog-section-4 .u-text-6 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayRoman;
    margin: 34px 0 0;
}

.u-dialog-section-4 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: 30px auto 0;
}

.u-dialog-section-4 .u-layout-cell-3 {
    min-height: 400px;
}

.u-dialog-section-4 .u-container-layout-6 {
    padding: 30px;
}

.u-dialog-section-4 .u-group-3 {
    min-height: 400px;
    margin-left: auto;
    margin-right: -20px;
}

.u-dialog-section-4 .u-container-layout-7 {
    padding: 30px;
}

.u-dialog-section-4 .u-text-7 {
    font-family: NeueHaasDisplayBold;
    background-image: none;
    margin: 31px auto 0;
}

.u-dialog-section-4 .u-text-8 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayRoman;
    margin: 34px 0 0;
}

.u-dialog-section-4 .u-icon-4 {
    width: 64px;
    height: 64px;
    margin: 29px auto 0;
}

.u-dialog-section-4 .u-layout-cell-4 {
    min-height: 400px;
}

.u-dialog-section-4 .u-container-layout-8 {
    padding: 30px;
}

.u-dialog-section-4 .u-group-4 {
    min-height: 400px;
    margin-left: auto;
    margin-right: -20px;
}

.u-dialog-section-4 .u-container-layout-9 {
    padding: 30px;
}

.u-dialog-section-4 .u-text-9 {
    font-family: NeueHaasDisplayBold;
    background-image: none;
    margin: 0 auto;
}

.u-dialog-section-4 .u-text-10 {
    font-size: 1.5rem;
    font-family: NeueHaasDisplayRoman;
    margin: 34px 0 0;
}

.u-dialog-section-4 .u-icon-5 {
    width: 64px;
    height: 64px;
    margin: 67px auto 0;
}

.u-dialog-section-4 .u-icon-6 {
    width: 20px;
    height: 20px;
}

@media (max-width: 1199px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 940px;
        min-height: 686px;
        height: auto;
        margin-top: 60px;
    }

    .u-dialog-section-4 .u-layout-wrap-1 {
        margin-top: 83px;
    }

    .u-dialog-section-4 .u-layout-cell-1 {
        min-height: 330px;
    }

    .u-dialog-section-4 .u-group-1 {
        min-height: auto;
    }

    .u-dialog-section-4 .u-icon-1 {
        margin-top: 47px;
    }

    .u-dialog-section-4 .u-layout-cell-2 {
        min-height: 330px;
    }

    .u-dialog-section-4 .u-text-3 {
        margin-left: 41px;
    }

    .u-dialog-section-4 .u-icon-2 {
        margin-left: 56px;
    }

    .u-dialog-section-4 .u-group-2 {
        margin-left: initial;
        margin-right: initial;
        min-height: auto;
    }

    .u-dialog-section-4 .u-icon-3 {
        margin-top: 47px;
    }

    .u-dialog-section-4 .u-layout-cell-3 {
        min-height: 330px;
    }

    .u-dialog-section-4 .u-group-3 {
        margin-left: initial;
        margin-right: initial;
        min-height: auto;
    }

    .u-dialog-section-4 .u-icon-4 {
        margin-top: 46px;
    }

    .u-dialog-section-4 .u-layout-cell-4 {
        min-height: 330px;
    }

    .u-dialog-section-4 .u-group-4 {
        margin-left: initial;
        margin-right: initial;
        min-height: auto;
    }

    .u-dialog-section-4 .u-container-layout-9 {
        padding-left: 29px;
        padding-right: 29px;
    }

    .u-dialog-section-4 .u-text-9 {
        width: auto;
        margin-left: 2px;
        margin-right: 2px;
    }

    .u-dialog-section-4 .u-text-10 {
        width: auto;
        margin-top: 27px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-dialog-section-4 .u-icon-5 {
        width: 64px;
        margin-top: 49px;
    }
}

@media (max-width: 991px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 720px;
    }

    .u-dialog-section-4 .u-layout-cell-1 {
        min-height: 506px;
    }

    .u-dialog-section-4 .u-text-1 {
        margin-top: 0;
    }

    .u-dialog-section-4 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-dialog-section-4 .u-text-5 {
        margin-top: 0;
    }

    .u-dialog-section-4 .u-layout-cell-3 {
        min-height: 506px;
    }

    .u-dialog-section-4 .u-text-7 {
        margin-top: 0;
    }

    .u-dialog-section-4 .u-layout-cell-4 {
        min-height: 506px;
    }

    .u-dialog-section-4 .u-text-9 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-dialog-section-4 .u-text-10 {
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media (max-width: 767px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 540px;
    }

    .u-dialog-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-layout-cell-1 {
        min-height: 759px;
    }

    .u-dialog-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-layout-cell-3 {
        min-height: 759px;
    }

    .u-dialog-section-4 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-layout-cell-4 {
        min-height: 759px;
    }

    .u-dialog-section-4 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-dialog-section-4 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-dialog-section-4 .u-dialog-1 {
        width: 340px;
    }

    .u-dialog-section-4 .u-layout-cell-1 {
        min-height: 478px;
    }

    .u-dialog-section-4 .u-text-2 {
        width: auto;
    }

    .u-dialog-section-4 .u-text-6 {
        width: auto;
    }

    .u-dialog-section-4 .u-layout-cell-3 {
        min-height: 478px;
    }

    .u-dialog-section-4 .u-text-8 {
        width: auto;
    }

    .u-dialog-section-4 .u-layout-cell-4 {
        min-height: 478px;
    }

    .u-dialog-section-4 .u-text-10 {
        margin-left: 0;
        margin-right: 0;
    }
}